html, body {
	height: 100%;
	margin: 0;
}
@media only screen and (max-width: 600px) {
	.dropnav {
		display: block !important;
	}
	.navbar {
		display: none;
	}
	.homeTitle h1 {
		font-size: 30px;
	}
}
@media only screen and (max-width: 900px) {
	body {
		width: 100%;
	}
	.sideNav {
		visibility: hidden;
	}
	.rightNav {
		visibility: hidden;
	}
	.pageLinks {
		border: 0px !important;
		width: 100% !important;
	}
	.homeInfo {
		font-size: 12px !important;
	}
	.row {
		width: 100% !important;
		margin-left: 0% !important;
		margin-right: 0% !important;
	}
	#homeContainer {
		padding: 0px !important;
	}
}
@media only screen and (max-width: 1075px) {
	body .topNav a {
		font-size: 10px;
	}
}
body {
	background-size: 100%;
	color: white;
}
.mainContent {
	top: 100px;
}
form:hover {
	color: rgb(255, 65, 65);
}
footer {
	text-align: center;
}
h1:hover {
	text-shadow: 2px 2px rgb(79, 79, 255);
}
.emailInfo h1:hover {
	text-shadow: none;
}
* {
	box-sizing: border-box;
}
h1 {
	color: gold;
}
h2 {
	text-align: center;
}
h3 {
	color: aqua;
}
input {
	border: solid white;
}
input:hover {
	border: solid rgb(255, 65, 65);
}
.homeTitle {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.homeTitle h1:hover {
	text-decoration: none;
}
.homeTitle h1 {
	color: white;
}
.homeNote {
	color: aqua;
	text-emphasis: bold;
	font-size: 125%;
}
.topNav {
	padding: 0%;
}
.topNav a {
	font-size: 20px;
	color: rgb(255, 65, 65);
	border-bottom: 1px solid rgba(0, 0, 0, 0.0);
	transition: 0.5s ease;
}
.topNav a:hover {
	color: rgb(79, 79, 255);
	text-decoration: none;
	text-shadow: 0 0 2px rgb(79, 79, 255);
	border-bottom: 1px solid white;
}
#homeMobile {
	float: right;
}
.dropnav {
	display: none;
	overflow: hidden;
}
.dropnav-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin-top: 30px;
	background-color: black;
}
.dropnav-content a {
	color: rgb(255, 65, 65);
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropnav-content a:hover {
	color: rgb(79, 79, 255);
	text-decoration: none;
	text-shadow: 0 0 2px rgb(79, 79, 255);
	border-bottom: 1px solid white;
}
.dropnav:hover .dropnav-content {
	display: block;
}
.dropbtn {
	color: rgb(255, 65, 65);
	background: transparent;
	float: left;
}
#navSwitch {
	color: aqua;
}
.sideNav {
    width: 15%;
    /* min-width: 115px; */
	height: 80vh;
	float: left;
	margin-top: 85px;
	position: fixed;
	overflow: scroll;
	border-radius: 5px;
	border: 1px solid white;
}
.sideNav:hover {
	border-color: red;
}
.sideNav h2 {
	padding: 14px 16px;
    text-decoration: none;
	font-size: 18px;
	border-bottom: 1px solid white;
	border-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0px;
}
.sideNav a {
	color: white;
	text-decoration: none;
	transition: all 0.5s ease;
}
.sideNav h2:hover {
	border-color: red;
}
.sideNav h2:hover a {
	color: rgb(255, 65, 65);
}
.rightNav {
    width: 15%;
    min-width: 115px;
	height: 80vh;
	float: left;
	margin-top: 131px;
	position: fixed;
	overflow: scroll;
    z-index: 1;
    top: 0;
	left: 85%;
	border-radius: 5px;
	border: 1px solid white;
}
.rightNav:hover {
	border-color: red;
}
.navTitle {
	margin: auto;
	border-bottom: 2px solid gold;
	margin-bottom: 10px;
}
.navTitle h1:hover {
	text-decoration: none;
}
.pageMenu {
	overflow: scroll;
}
.pageLinks {
	border-left: 1px solid white;
	border-right: 1px solid white;
	width: 55%;
	margin: auto;
	margin-bottom: 15px;
}
.pageLinks:hover {
	border-color: rgb(79, 79, 255);
}
.pageLinks:hover a {
	color: rgb(79, 79, 255);
}
.pageLinks a {
	color: white;
	transition: 0.25s ease;
}
.pageLinks a:hover {
	color: rgb(79, 79, 255);
	text-decoration: none;
}
.emailInfo {
	margin: 5px;
	margin-bottom: 30px;
	text-align: center;
}
.emailInfo:hover {
	text-decoration: none;
}
.emailInfo:hover i {
	color: rgb(79, 79, 255);
}
.emailInfo h1 {
	color: white;
}
.emailInfo h3 {
	color: white;
}
.emailInfo p {
	color: gray;
}
.emailInfo a {
	color: rgb(255, 65, 65);
}
.emailInfo a:hover {
	text-decoration: none;
	color: rgb(79, 79, 255);
}
.emailInfo:hover p {
	color: white;
}
.logoContainer {
	width: 50%;
	margin: auto;
	margin-top: 30px;
}
.logoContainer img {
	width: 100%;
	margin: auto;
}
#rightNavColumn {
	padding-left: 20%;
}
/* Create three equal columns that floats next to each other */
.row {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.center {
    text-align: center;
}
input {
    margin-bottom: 10px;
    border-radius: 5px;
}
select {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
button {
    border-radius: 2px;
    border-style: none;
	background-color: rgb(40, 175, 40);
	margin-bottom: 10px;
}
button:hover {
    background-color: rgb(105, 192, 105);
}
.dropbtn:hover {
	background: transparent;
}
.resetButton {
	background-color: rgb(190, 50, 50);
}
.resetButton:hover {
    background-color: rgb(182, 101, 101);
}
.homeInfo {
	text-align: left;
}
.homeInfo li {
	font-size: 135%;
	margin-bottom: 10px;
}
.homeInfo a {
	color: rgb(255, 65, 65);
}
.homeInfo a:hover {
	text-decoration: none;
	color: rgb(79, 79, 255);
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.gold {
	color: gold;
}
.red {
	color: rgb(255, 65, 65);
}
.blue {
	color: rgb(79, 79, 255);
}