html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #000a41;
    color: white;
}
form:hover {
	color: rgb(255, 110, 154);
}
footer {
	text-align: center;
}
h1:hover {
	text-decoration: underline;
}
* {
	box-sizing: border-box;
}
h1 {
	color: gold;
}
h2 {
	text-align: center;
}
h3 {
	color: aqua;
}
input {
	border: solid white;
}
.homeTitle {
	text-align: center;
}
.homeTitle h1:hover {
	text-decoration: none;
}
.homeNote {
	color: aqua;
	text-emphasis: bold;
	font-size: 125%;
}
/* Add a black background color to the top navigation */
.topNavigation {
    background-color: #333;
	overflow: hidden;
	position: fixed;
	width: 100%;
}
/* Style the links inside the navigation bar */
.topNavigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 17px;
	border: solid;
	border-color: white;
	border-top: #333;
	border-bottom: #333;
	border-left: #333;
	border-width: 1px;
}
/* Change the color of links on hover */
.topNavigation a:hover {
    background-color: rgb(43, 52, 136);
    color: yellow;
}
.sideNav {
	background-color: #333;
	width: 10%;
	height: 80%;
	float: left;
	margin-top: 85px;
	position: fixed;
	overflow: scroll;
}
.sideNav h2 {
	padding: 14px 16px;
    text-decoration: none;
	font-size: 18px;
	border-bottom: 1px solid white;
	border-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0px;
}
.sideNav a {
	color: white;
	text-decoration: none;
}
.sideNav h2:hover {
	background-color: rgb(43, 52, 136);
}
.sideNav h2:hover a {
	color: yellow;
}
.rightNav {
	background-color: #333;
	width: 10%;
	height: 80%;
	float: right;
	margin-top: 50px;
	position: fixed;
	overflow: hidden;
}
.navTitle {
	width: 60%;
	margin: auto;
	border-bottom: 2px solid gold;
}
.navTitle h1:hover {
	text-decoration: none;
}
.emailInfo {
	margin: 5px;
	text-align: center;
}
.emailInfo h3 {
	color: white;
}
.emailInfo p {
	color: gray;
}
.emailInfo a {
	color: cyan;
}
.logoContainer {
	width: 50%;
	margin: auto;
	margin-top: 65px;
}
.logoContainer img {
	width: 100%;
	margin: auto;
}
#rightNavColumn {
	padding-left: 20%;
}
/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
}
.row {
	width: 75%;
	margin: auto;
	float: right;
	margin-top: 25px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}