body {
	background-color: rgb(0, 80, 0);
	color: white;
}

h1:hover {
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}

h2 {
	text-align: center;
}

form:hover {
	color: rgb(219, 81, 81);
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}